<table width="100%">
  <tr>
    <td>
      <div class="banner">
      <h1>Buehler's Best</h1>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="topnav" id="myTopnav">
      <a href="/" class="active">HOME</a>
      <a href="/batches">BATCHES</a>
      <a href="/ontap">ON TAP</a>
      <a href="/awards">AWARDS</a>
      <a href="/login">LOGIN</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
    </td>
  </tr>
</table>
<img alt="Rails logo" src="/assets/bb.jpg" />
