// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Set position of login form fields */
#login_form {
    width: 300px;
}

.loginContainer {
    display: table-cell;
    vertical-align: middle;
}

.loginParentContainer {
    display: table;
    height: 100%;
    margin: 0 auto;
}
